.RightPanel {
    border:2px solid red;
}

.list-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: auto;
    gap: 2px;
}
.RightPanelItem  {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid black;
    border-radius: 70px;
    margin: auto;

}
.RightPanelItem p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.circl {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: blue;
    margin: 0px 0 0 0;
}
